<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Redis Polygon Search Example application</title>
  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  <script type="text/javascript" src="/js/fontawesome.js"></script>
</head>

<body>
  <section class="hero has-background-info is-bold">
    <div class="hero-body">
      <div class="container">
        <img src="/images/redis-favicon-48x48.png" alt="Redis Logo" class="logo" height="48" width="48">
        <h1 class="title has-text-white has-text-centered">
          Redis Polygon Search Example
        </h1>
      </div>
    </div>
  </section>
  <main class="container mt-4">
    <div class="notification is-danger" id="errorMessage" hidden>
      <button class="delete" id="dismissError"></button>
      This is some error text in case you need it...
    </div>
    <div class="container has-text-centered">
      <button id="searchBtn" class="button is-success is-medium">Search</button>
      <button id="resetBtn" class="button is-danger is-medium">Reset</button>
    </div>
    <div id="mapid"></div>
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Redis Polygon Search Demo Application</strong> by <a href="https://discord.gg/redis">Redis Developer Relations</a>.  An example 
        application using <a href="https://redis.io/">Redis</a>, <a href="http://expressjs.com/">Express</a> and <a href="https://bulma.io/">Bulma</a>.
      </p>
      <p><a href="https://github.com/redis-developer/redis-polygon-search-trains-demo">Source code is available on GitHub</a>.</p>
    </div>
  </footer>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>
  <script defer src="/js/app.js"></script>
</body>