<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Redis Polygon Search Example application</title>
  <link rel="stylesheet" href="/css/bulma.min.css">
  <script defer src="/js/all.js"></script>
</head>

<body>
  <header class="container is-fluid  mt-4 header-section">
    <img src="/images/redis-favicon-48x48.png" alt="Redis Logo" class="logo" height="48" width="48">
    <h1 class="title is-4 is-right pd-0 mt-2">Redis Polygon Search Example</h1>
</header>
  <script defer src="/js/app.js"></script>
</body>